@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900'");

// Шрифт страницы
$font: "Roboto", sans-serif;

// Установка шрифтов
* {
  font-family: $font !important;
}

//Сброс стилей ссылок
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    background-color: #6b6b6b4d;
  }
}

// Свойство для центрирование блока
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// Свойство для центрирование блока по левой стороне
.left-content {
  display: flex;
  justify-content: left;
  align-items: start;
}

// Свойство для центрирование блока по правой стороне
.right-content {
  display: flex;
  justify-content: right;
  align-items: center;
}
