@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900'");

//Ширина  контентной части
$windows-width: calc(98.7vw);

// Шрифт страницы
$font: "Roboto", sans-serif;

// Установка шрифтов
* {
  font-family: $font !important;
}

//Сброс стилей ссылок
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    background-color: #6b6b6b4d;
  }
}

// Свойство для центрирование блока
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// Свойство для центрирование блока по левой стороне
.left-content {
  display: flex;
  justify-content: left;
  align-items: start;
}

// Свойство для центрирование блока по правой стороне
.right-content {
  display: flex;
  justify-content: right;
  align-items: center;
}

.width100 {
  width: 100%;
}

.width50 {
  width: 50%;
}
.height100 {
  height: 100%;
}
.z-index0 {
  z-index: 0;
}
.z-index1 {
  z-index: 1;
}
.z-index2 {
  z-index: 2;
}
.z-index3 {
  z-index: 3;
}
.z-index4 {
  z-index: 4;
}

.relative {
  position: relative;
  top: 0px;
  left: 0px;
}

.absolute {
  position: absolute;
  top: 0px;
  left: 0px;
}

.image100 {
  width: $windows-width;
  height: auto;
}

.space-between {
  width: 89.5%;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #ffffff;
}

#color-green {
  color: #7dd42f;
}
@mixin hover-action {
  &:hover {
    filter: opacity(80%);
    color: rgba($color: #000000, $alpha: 0.5);
  }
}

@mixin standard-btn {
  padding: 15px;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0);
  color: #fff;
  @include hover-action();
}

@mixin standard-img($x: 100%, $y: 100%, $background-size: initial) {
  width: $x !important;
  height: $y !important;
  background-size: $background-size !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
}

@mixin font-mixin($font-weight: 400, $font-size: 16px, $line-height: 40px, $font-style: normal, $color: #ffffff) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-style: $font-style;
}

@mixin flex-row-column($display: inline-flex, $flex-direction: row) {
  display: $display;
  flex-direction: $flex-direction;
}
