/* 
HTML5 Doctor Reset v1.6.1
http://html5doctor.com/html-5-reset-stylesheet/
*/
@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900'");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  font-family: "Roboto", sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  background-color: rgba(107, 107, 107, 0.3019607843);
}

.center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.width100 {
  width: 100%;
}

.width50 {
  width: 50%;
}

.height100 {
  height: 100%;
}

.z-index0 {
  z-index: 0;
}

.z-index1 {
  z-index: 1;
}

.z-index2 {
  z-index: 2;
}

.z-index3 {
  z-index: 3;
}

.z-index4 {
  z-index: 4;
}

.relative {
  position: relative;
  top: 0px;
  left: 0px;
}

.absolute {
  position: absolute;
  top: 0px;
  left: 0px;
}

.image100 {
  width: 98.7vw;
  height: auto;
}

.space-between {
  width: 89.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #ffffff;
}

#color-green {
  color: #7dd42f;
}

.main-block {
  width: 98.7vw;
}

.navbar-container {
  width: 98.7vw;
  height: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #373a3c;
}

.navbar {
  width: 88.7vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar ul {
  display: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  font-style: normal;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.navbar-logo {
  width: 96px !important;
  height: 29px !important;
  background-size: initial !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  background-image: url(../../img/xbox.svg);
}

.promo-container {
  width: 68.7vw;
  height: 45.9069767442vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.promo-block {
  min-width: 98.7vw;
  min-height: 45.0684931507vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.promo-block .promo-block-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  font-style: normal;
}
.promo-block #arrow-icon-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 4;
  font-size: 48px;
  color: #ffffff;
  background-color: rgba(61, 61, 61, 0.5);
  height: 100%;
  left: 0;
  right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
.promo-block #arrow-icon-left:hover {
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
  color: rgba(0, 0, 0, 0.5);
}
.promo-block #arrow-icon-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 4;
  font-size: 48px;
  color: #ffffff;
  background-color: rgba(61, 61, 61, 0.5);
  left: auto;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
}
.promo-block #arrow-icon-right:hover {
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
  color: rgba(0, 0, 0, 0.5);
}
.promo-block .promo-block-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 23px;
  line-height: 16px;
  color: #fff;
  font-style: bold;
}
.promo-block .promo-block-button #btn-watch-trailer {
  padding: 15px;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0);
  color: #fff;
  background: #8dd83d;
}
.promo-block .promo-block-button #btn-watch-trailer:hover {
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
  color: rgba(0, 0, 0, 0.5);
}
.promo-block .promo-block-button #btn-explore-games {
  padding: 15px;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0);
  color: #fff;
  background: #828282;
}
.promo-block .promo-block-button #btn-explore-games:hover {
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
  color: rgba(0, 0, 0, 0.5);
}

.highlight-section {
  width: 98.7vw;
  height: 61.6875vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #4f4f4f;
}
.highlight-section button {
  margin: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-style: normal;
  background: #8dd83d;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0);
}
.highlight-section button:hover {
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
  color: rgba(0, 0, 0, 0.5);
}
.highlight-section .highlight-section-main-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  font-style: normal;
}
.highlight-section .highlight-section-carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
  margin: 2rem;
}
.highlight-section .highlight-section-cart {
  width: 30vw;
  height: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15%;
  background: #ffffff;
  border: 1px solid #8dd83d;
  border-radius: 4px;
}
.highlight-section .highlight-section-cart-description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
  padding-left: 3rem;
  text-align: left;
}
.highlight-section .highlight-section-cart-description small {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #435766;
  font-style: normal;
}
.highlight-section .highlight-section-cart-description h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #435766;
  font-style: normal;
}
.highlight-section #id1 {
  width: 30vw !important;
  height: 40vh !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  background: url(../../img/1.png);
}
.highlight-section #id2 {
  width: 30vw !important;
  height: 40vh !important;
  background-size: initial !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  background: url(../../img/2.png);
}
.highlight-section #id3 {
  width: 30vw !important;
  height: 40vh !important;
  background-size: initial !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  background: url(../../img/3.png);
}

.design-lab-section {
  width: 98.7vw;
  height: 32.9vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: -o-radial-gradient(50% 0%, 100% 100%, rgba(193, 255, 127, 0.1) 0%, rgba(141, 216, 61, 0.1) 100%);
  background: radial-gradient(100% 100% at 50% 0%, rgba(193, 255, 127, 0.1) 0%, rgba(141, 216, 61, 0.1) 100%);
}
.design-lab-section .design-lab-section-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.design-lab-section .design-lab-section-description h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  font-style: normal;
}
.design-lab-section .design-lab-section-description small {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  font-style: normal;
}
.design-lab-section .design-lab-section-description .design-lab-section-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 23px;
  line-height: 16px;
  color: #ffffff;
  font-style: bold;
}
.design-lab-section .design-lab-section-description .design-lab-section-button #btn-explore-consoles {
  padding: 15px;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0);
  color: #fff;
  background: #8dd83d;
}
.design-lab-section .design-lab-section-description .design-lab-section-button #btn-explore-consoles:hover {
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
  color: rgba(0, 0, 0, 0.5);
}
.design-lab-section .design-lab-section-description .design-lab-section-button #btn-design-yours {
  padding: 15px;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0);
  color: #fff;
  background: #828282;
}
.design-lab-section .design-lab-section-description .design-lab-section-button #btn-design-yours:hover {
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
  color: rgba(0, 0, 0, 0.5);
}

.footer {
  width: 98.7vw;
  height: 19.74vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #373a3c;
  border-radius: 4px;
}
.footer .container {
  padding: 15px;
  margin: auto;
}
.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.footer .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer .column {
  width: 29.9090909091vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .column ul {
  gap: 0.5rem;
}
.footer .column ul li {
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-style: normal;
  list-style: none;
}
.footer .column ul li:hover {
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
  color: rgba(0, 0, 0, 0.5);
}